---
import { Icon } from "astro-icon";

const {} = Astro.props;
---
<button type="button" id="dark-mode-toggle" aria-label="Toggle dark mode" class="text-zinc-500 dark:text-zinc-300 bg-zinc-200/50 hover:text-zinc-800 dark:bg-zinc-700/50 dark:hover:text-zinc-50 rounded-lg text-sm p-3 inline-flex items-center">
    <span class="sr-only">Toggle dark mode</span>
    <Icon name="ic:outline-light-mode" class="w-6 h-6 dark:hidden block" />
    <Icon name="ic:outline-dark-mode" class="w-6 h-6 dark:block hidden" />
</button>

<script is:inline>
    // Enables user to toggle between dark and light themes
    const darkModeToggle = document.querySelector("#dark-mode-toggle");

    if (
      localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
    
    function toggleDarkMode() {
      document.documentElement.classList.toggle("dark");
      localStorage.theme = document.documentElement.classList.contains("dark") ? "dark" : "light";
    }
    if (darkModeToggle) {
      darkModeToggle.addEventListener("click", () => {
        toggleDarkMode();
      });
    }
  </script>